{% assign upsell_products = product.metafields.custom.related_upsell.value %}
{% if upsell_products %}
<section class="upsell-products">
  <div class="page-width">
    <h2 class="upsell-title">{{ section.settings.heading }}</h2>
    {% assign num_products = upsell_products | size %}
    {% assign cols = section.settings.columns | plus: 0 %}
    
    {% if num_products < cols %}
      {% assign cols = num_products %}
    {% endif %}

    <div class="grid grid--{{ cols }}-col">
      {% for upsell_product in upsell_products %}
        <div class="grid__item upsell-card">
          <a href="{{ upsell_product.url }}">
            {% if upsell_product.featured_image %}
              <img width="300" height="300"
                src="{{ upsell_product.featured_image | image_url: width: 400 }}" 
                alt="{{ upsell_product.title | escape }}" 
                class="upsell-image"
              >
            {% endif %}
            <h3 class="upsell-name">{{ upsell_product.title }}</h3>
          </a>
          {% if upsell_product.selected_or_first_available_variant  %}

            {% if section.settings.show_price %}
              <p class="upsell-price">
                {{ upsell_product.selected_or_first_available_variant.price | money }}
              </p>
            {% endif %}
            <button 
              class="product-form__submit button--secondary button upsell-add" 
              data-product-id="{{ upsell_product.selected_or_first_available_variant.id }}">
              <span>{{ 'products.product.add_to_cart' | t }}</span>
              {% render 'loading-spinner' %}
            </button>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}
{% schema %}
{
  "name": "Upsell Products",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Título de la sección",
      "default": "Productos recomendados"
    },
    {
      "type": "select",
      "id": "columns",
      "label": "Número de columnas",
      "default": "4",
      "options": [
        { "value": "1", "label": "1 columna" },
        { "value": "2", "label": "2 columnas" },
        { "value": "3", "label": "3 columnas" },
        { "value": "4", "label": "4 columnas" }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_price",
      "label": "Mostrar precio",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Upsell Products"
    }
  ]
}
{% endschema %}
